![DSL_logo](https://raw.githubusercontent.com/BrockDSL/SQL-Workshop/main/dsl_logo.png)


# SQL and Databases

During this workshop we'll learn how to interact with SQL databases. Our focus will be on pulling information from different tables and constructing queries.

# Before we Begin!

1. Please click the 'Copy to Drive' button in the toolbar above
1. Click on the Gear icon next to your picture, Select 'Editor' and make sure 'Show Line Numbers' is selected
1. Share in the chat box a quick hello and where you are in the world right now.

In [ ]:
#Libraries
#We'll use Pandas to interact with the SQL file

import sqlite3
import pandas as pd

print("Done loading Library")

## What's a Database?

The digram above represents how we can conceptualize a database as a series of _tables_ that reference each other. You can think of a _table_ as a very specific spreadsheet. We are going to be looking at a popular database used for teaching SQL that is called [NorthWind](https://docs.yugabyte.com/preview/sample-data/northwind/).

We are going to use a type of SQL connection/file called [SQLite](https://www.sqlite.org/index.html). This loads the SQL database into our environment and we can interact with it directly. Often we use mySQL which requires a connection to an SQL server. We use an environment like when we have lots of data to sort through.

Run the next cell to download and connect to that Database.

![ERD_Diagram](https://github.com/BrockDSL/SQL-Workshop/blob/main/Northwind_ERD.png?raw=true)

In [ ]:
#Load SQLite File
!wget -O northwind.db "https://github.com/BrockDSL/SQL-Workshop/blob/main/northwind.db?raw=true"
try:
    connection = sqlite3.connect("northwind.db")
    print("Connection Successful!")
except:
    print("Error connecting to the database")

## Talking to the Database

We use a special kind of syntax to access the information that is in the database. We call this an _sql query_. It is very much structured like a sentence.

### Show Tables

Our first query will be to show all the tables in our database. Using the following:

```SQL
SELECT name FROM sqlite_master WHERE type='table';
```

In [ ]:

SHOW_TABLES = \
"""
SELECT name FROM sqlite_master WHERE type='table';
"""
pd.read_sql_query(SHOW_TABLES, connection)

### Show everything from all Customers

```SQL

SELECT * FROM Customers;

```

In [ ]:
QUERY = \
"""
SELECT * FROM Customers;


"""
pd.read_sql_query(QUERY, connection)

### Show certain information about Customers

```SQL

SELECT ContactName, Phone FROM Customers;

```

In [ ]:
QUERY = \
"""
SELECT ContactName, Phone FROM Customers;


"""
pd.read_sql_query(QUERY, connection)

### Selecting and Ordering

```SQL
SELECT ContactName, Country FROM Customers ORDER BY Country;

```

In [ ]:
QUERY = \
"""

SELECT ContactName, Country FROM Customers ORDER BY Country;

"""
pd.read_sql_query(QUERY, connection)

### Selecting and Comparing Values

```SQL
SELECT * from Orders WHERE Freight > 50;

```

In [ ]:
QUERY = \
"""

SELECT * from Orders WHERE Freight > 50;

"""
pd.read_sql_query(QUERY, connection)

### Q1

In [ ]:
QUERY = \
"""


"""
pd.read_sql_query(QUERY, connection)

### Q2

In [ ]:
QUERY = \
"""


"""
pd.read_sql_query(QUERY, connection)

### Q3

In [ ]:
QUERY = \
"""


"""
pd.read_sql_query(QUERY, connection)

### More Complex

---

### name

```SQL
;

```

In [ ]:
QUERY = \
"""



"""
pd.read_sql_query(QUERY, connection)